.container{

    width: 100vw;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .indicator{
    width: 30vw;
    }
    
    html,
    body {
        background-color: #a6b1e1
    }